<div class="container"> 
    <div class="container border"> 
        <p> Lorem ipsum, dolor sit amet consectetur adipisicing elit. Cum quod at ullam 
            excepturi veniam iste? Porro assumenda error similique quos officia, dolor 
            praesentium velit doloremque fugiat pariatur provident, numquam quas.
        </p>
        <p> 
            Lorem, ipsum dolor sit amet consectetur adipisicing elit. 
            Explicabo atque obcaecati quibusdam, natus exercitationem mollitia eos iusto ducimus iure at, ut repellat sequi,
             culpa labore fuga numquam omnis consectetur alias?
        </p>
    </div> 
    <div class="container border mt-2 badge badge-danger">
        <p class="h4"> Gracias a los tres por la buena onda !</p> 
    </div>
</div>

