<div class="container"> 
    <h1 class="d-flex justify-content-center"> Categorias </h1>   
        <section class="categorias container">
            <div class="animacion"> 
                <article class="textCategoria"> Cocina </article>
            </div>
            <div class="animacion"> 
                <article class="textCategoria"> Mermelada </article>
            </div>
            <div class="animacion"> 
                <article class="textCategoria"> Televisores </article> 
            </div>
            <div class="animacion"> 
                <article class="textCategoria"> Computacion </article>
            </div>
            <div class="animacion"> 
                <article class="textCategoria"> Arte </article>
            </div>
            <div class="animacion"> 
                <article class="textCategoria"> Angular </article>
            </div>
        </section>
</div>